MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

HARBOR_DATABASE_PASSWORD=
HARBOR_ADMIN_PASSWORD=
HARBOR_SECRET_KEY=

GITHUB_USERNAME=
GITHUB_PASSWORD=

MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=

export \
    MINIO_ACCESS_KEY \
    MINIO_SECRET_KEY \
    HARBOR_DATABASE_PASSWORD \
    HARBOR_ADMIN_PASSWORD \
    HARBOR_SECRET_KEY \
    GITHUB_USERNAME \
    GITHUB_PASSWORD \
    MARIADB_PASSWORD \
    MARIADB_ROOT_PASSWORD