commonAnnotations:
  helm.sh/resource-policy: keep
primary:
  service:
    type: ClusterIP
    port: 3306
  resources:
    requests:
      cpu: 0.5
      memory: 1G
    limits:
      cpu: 0.5
      memory: 1G
